<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Playlist</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container mt-4">
        <h1>Playlist</h1>
        <div th:if="${message}" class="alert alert-info message" th:text="${message}"></div>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Song Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="playlist : ${playlistSongs}">
                    <td th:text="${playlist.song.songName}"></td>
                    <td>
                        <form th:action="@{/remove-playlist/{id}(id=${playlist.song.songId})}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
