<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS'yi ekleyin -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav class="navbar" th:fragment="navbar">
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/songs">Songs</a></li>
            <li><a href="/playlist">Playlist</a></li>
        </ul>
    </nav>
</body>
</html>
